.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  padding-top: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 60px) / 6);
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  list-style: none;
  text-align: center;
}

.images {
  width: 180px;
  height: 270px;
}

.name {
  font-weight: 600;
  margin-top: 5px;
}

.name,
.text {
  font-size: 16px;
  max-width: 180px;
}
