.link {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
  transition: transform 250ms linear;
}

.activeLink {
  composes: link;
  color: #5f9ea0;
  transform: scale(1.1);
}
